<!DOCTYPE html>
<html>
<head>
  <title>JsBlogger | CodeMash 2012 Precompiler</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="flash"><%= flash[:message] %></p>
<%= yield %>
</body>
</html>
